@import "icons";
@import "custom";
@import "bootstrap";

[class^="openticon-"],
[class*=" openticon-"] {
  position: relative;
  top: 2px;
}

.navbar {
  .glyphicon {
    position: relative;
    top: 3px;
  }
}

.navbar-right {
  margin-right: 0;
}

#nav-logo {
  margin-right: 1em;
}

.navbar-default {
  .navbar-nav > li > a {
    text-align: center;

    text-shadow: 0 1px 1px rgba(#fff, 0.5);

    font-size: $navbar-font-size;
    line-height: $navbar-line-height-computed;

    padding-left: 16px;
    padding-right: 16px;

    &.active {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
        text-shadow: 0 1px 1px rgba(#000, 0.1);
      }
    }

    &.disabled {
      &,
      &:hover,
      &:focus {
        text-shadow: 0 -1px 0px darken($navbar-default-link-disabled-color, 10%);
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}


.btn-group-vertical.btn-block {
  label.btn {
    text-align: left;
  }
}

.list-group.radio > label.list-group-item {
  padding-left: 35px;
  margin-bottom: -1px;
}

.breadcrumb-toplevel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body {
  padding-top: 46px;
}


$table-view-item-height: 42px;
$table-view-caption-height: 24px;

.table-view {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;

  > .table-view-caption,
  > .table-view-item {
    display: block;
    padding: 0 8px;
    border-top: 1px solid $table-border-color;
    margin: 0;

    &:last-child {
      border-bottom: 1px solid $table-border-color;
    }
  }

  > .table-view-caption {
    height: $table-view-caption-height;
    line-height: $table-view-caption-height;

    font-size: 0.9em;
    color: $gray;
    background-color: $gray-lighter;
  }

  > .table-view-item {
    height: $table-view-item-height;
    line-height: $table-view-item-height;
  }

  a.table-view-item {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }

    &:focus {
      @include tab-focus;
    }
  }

  a.action {
    color: $link-color;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: none;
    }

    &:focus {
      @include tab-focus;
    }
  }
}
